/* PALLETE OF COLORS:
[fffcf2, ccc5b9, 403d39, 252422, eb5e28]
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
}
/*Menubar CSS*/
.navbar {
  /*Vertical padding*/
  padding: 20px;
  display: flex;
  /*Vertical way of aligning*/
  align-items: center;
  /*Horizontal way*/
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eb5e28;
  background-color: #252422;
}
/*Logo in CSS*/
.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #eb5e28;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  /*NO underline of text*/
  text-decoration: none;
  padding: 6px;
  color: #fff;
}
/*Bar svg to display options*/
.navbar svg{
  display: none;
  filter:  brightness(0) invert(1);
  height: 20px;
  width: 20px;
}
.navbar svg:hover{
  cursor: pointer;
}
.navbar a:hover {
  color: #eb5e28;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/*SEARCH INPUT DIV*/
.search{
  margin: 10px auto;
}
.searchingSection{
  display: flex;
  justify-content: center;
  margin: 0 10px 25px 0;
}
.searchingSection button{
  background-color: transparent;
  color: #eb5e28;
}
/*INPUT FOR SEARCH*/
.input{

  background-color: #eb5e28;
  color: #fffcf2;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
/*My Styles*/
.coins-container{
  
  margin: 18px auto;
  border-collapse: collapse;
  overflow: scroll;
  min-width: 300px;
}
.coins-container thead{
  background-color: #403d39;
}
.coins-container tfoot{
  background-color: #403d39;
  max-width: 1000px;
}
.coins-container th{
  color: #fffcf2;
}
.coins-container thead th{
  text-align: left;
}
.coins-container tbody td{
  text-align: left;
}
.coins-container th,td{
  padding: 1em 0.5em;
}
.pageNumber{
  display: flex;
  justify-content: center;
}
.pageNumber button{
  border: none;
  color: #333;
  font-size: 18px;
}
.pageNumber .pageSelected{
  background-color: #eb5e28;
  color: #fffcf2;
  border: none;
}

.coinGeneralInfo img{
  width: 25px;
}
.about{
  display: block;
  margin: auto;
  text-align: center;
}
.coin{
  display: block;
  margin: auto;
  text-align: center;
}
.coin h2{
  background-color: #333;
  padding: 10px 0;
  color: #fffcf2;
  margin-bottom: 10px;
}
.coin p{
  margin: 18px 0;
}
@media only screen and (max-width: 500px){
  .navbar{
    text-align: center;
    justify-content: space-around;
  }
  .navbar .mainPages{
      width: 100%;
      display: none;
      flex-direction: column;
      text-align: center;
 
  }
  .mainPages.yes{
    padding-top: 10px;
    display: flex;
}
  .navbar svg{
    display: block;
    filter:  brightness(0) invert(1);
    height: 20px;
    width: 20px;
  }
}